/*
I denne filen finner du generelle styling-regler for HTML-tagger. Hvis du endrer noe her, gjelder det for alle tagger på hele siden.

Hvis du bare vil endre på en bestemt knapp, eller en bestemt overskrift, kan du gjøre det ved å gi klassen en klasse eller en id.

I de andre css-filene i mappa ligger det eksempler der vi bruker id eller klasse for å skrive regler for noen bestemte elementer.

De reglene trumfer reglene i denne filen.
*/

html {
  font-size: 16px;
  box-sizing: border-box;
  height: 98vh;
  width: 99vw;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f8;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  overflow-x: hidden;
}

h1 {
  color: black;
  font-size: 64px;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: black;
  text-align: center;
}

button {
  width: 180px;
  height: 50px;
  border-radius: 100px;
  border: 5px solid black;
  background-color: white;
  font-size: 26px;
  color: black;
}

#bilde-av-sparebosse {
  width: 60%;
  max-height: 50vh;
  margin-bottom: 20px;
}

