/*
  I denne filen finner du stylingregler for knappene som brukes til å putte penger på sparebøssen

  En stylingregel begynner enten med "." eller "#"
  
  Hvis regelen begynner med "." er det en klasse. 
  ◻ En klasse kan brukes på mange HTML-elementer.
  ◻ Hvis du har flere elementer du vil skal se like ut, for eksempel fire knapper, er det lurt å bruke klasser

  Hvis regelen begynner mer "#" er det en id.
  ◻ En id skal være unik for ett bestemt HTML-element.
  ◻ Regler som begynner på "#" gjelder altså bare for ett element. 

  Se på HTML-taggene i index.html - så ser du hvor de ulike klassene og id-ene er brukt.
*/




/*--------------------------------------------------------------------------------
/*Slik skal boksen som knappene bor i se ut.
(La den stå slik med mindre du vet helt sikkert at du vil endre på den
----------------------------------------------------------------------------------
*/

#putt-paa-penger-knapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  max-width: 800px;
  height: auto;
  padding: 10px 20px;
  flex-wrap: wrap;
}




/*--------------------------KNAPP UTEN BILDE------------------------------------------*/

/*Slik vil du at knappen se ut når det ikke er lagt til noen bilder til den*/
.legg-til-penger-knapp {
  width: 180px;
  height: 50px;
  border-radius: 100px;
  border: 5px solid black;
  background-color: white;
  color: black;
  font-size: 26px;
}

/*Dette vil du at skal skje når du holder musepekeren over knappen*/
.legg-til-penger-knapp:hover {
  background-color: lightgrey;
}




/*---------------------------KNAPP MED BILDE---------------------------------------------*/

/*Slik vil du at knappen skal se ut når du har lagt til et bilde. 
(Det vi egentlig gjør er å fjerne all stylingen til selve knappen, slik at bare bildet vises*/
.knapp-med-bilde {
  border: none;
  background-color: #f9f9f8;
}

/*Dette vil du skal skje når du holder musepekeren over knappen.*/
.knapp-med-bilde:hover {
  background-color: #f9f9f8;
}




/*-------------------------------BILDENE------------------------------------------------------*/

/*Her bestemmer du høyden og bredden på bildet hvis det er en seddel*/
.seddel img {
  width: 180px;
  height: auto;
}

/*Her bestemmer du høyden og bredden på bildet hvis det er en mynt*/
.mynt img {
  width: 100px;
  height: auto;
}

/*Her bestemmer du hva som skal skje med bildene når du holder musepekeren over det*/
.seddel:hover img {
  width: 190px;
}
.mynt:hover img {
  width: 110px;
}
